.container {
    width: 80%;
}

.center {
    margin: auto;
    padding: 10px;
}

.clearfix {
    overflow: auto;
}

ul.sub_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

ul.sub_nav li {
    display: inline;
}

ul.sub_nav li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.sub_nav li a:hover {
    color: green;
}

ul.sub_nav li span {
    margin-left: 25px;
}

.ficture {
    width: 100%;
    margin-bottom: 40px;
}

.column {
    width: 50%;
    float: left;
}
.btn{
    height: 48px;
    color: white;
    border: 1px;
    font-size: 16px;
    margin-top: 22px;
    border-radius: 5px;
}

.btn_detail {
    background-color: #099b71;
    width: 150px;
    
}

.btn_contact {
    background-color:black;
    width: 200px;
}

.btn_apply {
    background-color:black;
    width: 150px;
}

.section_four{
    background-color: #a8d13b;
    margin-top: 117px;
    border-radius: 10px;
    height: 260px;
    padding: 36px 282px 139px 146px;
}
.section_five{
    background-color: rgba(136, 136, 136, 0.05) !important;
    padding: 60px 152px 0px 161px 
}
footer{
    margin-top: 70px;
}