@import url(style.css);
.home{
    width: 100%;
}
.home .home-site{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px 80px;
}
.home .home-site .content-text{
    width: 45%;
    padding: 30px 30px;
}
.home .home-site .content-image{
    width: 55%;
}
.home .home-site .content-text h1{
    font-size: 70px;
    width: 80%;
    color: var(--color-green);
}
.home .home-site .content-text .contact{
    border: 1px solid var(--color-green);
    padding: 15px;
    display: inline-block;
    color: var(--color-green);
    margin-top: 30px;
    border-radius: 10px;
}
.home .home-site .content-image img{
    width: 600px;
}
.home .home-list{
    width: 100%;
    padding:50px 110px;
    background-color: #d1d1d1;
}
.home .home-list .list-head{
    font-size: 28px;
}
.home .home-list .list-filter{
    text-align: center ;
}